<amexio-card [header]="true">
  <amexio-header>
    Sample Form
  </amexio-header>
  <amexio-body>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-text-input [fieldlabel]="'Name'" name="country"
                           [placeholder]="'Enter name'"
                           [enablepopover]="true"
                           [iconfeedback]="true"
                           [allowblank]="false" [errormsg]="'Please enter name'"
                           [minlength]="3" [maxlength]="15" [minerrormsg]="'Name should be minimum 3 characters'"
                           [maxerrormsg]="'Name should be less than 15 characters'"
        >
        </amexio-text-input>
      </amexio-column>
      <amexio-column [size]="6">
        <amexio-text-input [fieldlabel]="'Surname'" name="name"
                           [placeholder]="'Enter surname'"
                           [enablepopover]="true"
                           [iconfeedback]="true"
                           [allowblank]="false" [errormsg]="'Please enter Surname'"
                           [minlength]="3" [maxlength]="15" [minerrormsg]="'Surname should be minimum 3 characters'"
                           [maxerrormsg]="'Surname should be less than 15 characters'"
        >
        </amexio-text-input>
      </amexio-column>
    </amexio-row>


    <amexio-row>
      <amexio-column [size]="6">

<!--
        <amexio-textarea-input [fieldlabel]="'Address'" >
        </amexio-textarea-input>
-->

        <amexio-textarea-input [fieldlabel]="'Address'" name="Address"
                               [placeholder]="'Enter address'"
                               [errormsg]="'Please enter address'"
                               [iconfeedback]="true"
                               [rows]="'2'" [columns]="'2'"
                               [allowblank]="false" [enablepopover]="true"

        >
        </amexio-textarea-input>


      </amexio-column>
      <amexio-column [size]="6">
        <amexio-typeahead [datareader]="'response.data'"
                          [httpurl]="'assets/data/country.json'"
                          [httpmethod]="'get'"
                          [key]="'countryName'"
                          [fieldlabel]="'Nationality'" [valuefield]="country" [displayfield]="'countryName'" [placeholder]="'Search'">
        </amexio-typeahead>
      </amexio-column>
    </amexio-row>

    <amexio-row>
      <amexio-column [size]="6">
        DATE PICKER NOT WORKING
      </amexio-column>
      <amexio-column [size]="6">
        TIME PICKER NOT WORKING
      </amexio-column>
    </amexio-row>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-number-input [fieldlabel]="'Age'" name="age"
                             [enablepopover]="false"
                             [allowblank]="false"
                             [minvalue]="18"
                             [errormsg]="'Please enter your age'"
                             [placeholder]="'Enter age'">
        </amexio-number-input>

      </amexio-column>
      <amexio-column [size]="6">
        DROP DOWN NOT WORKING...
        <amexio-dropdown
          [(ngModel)]="country"
          [placeholder]="'Choose City'"
          [datareader]="'response.data'"
          [fieldlabel]="'City'"
          [httpurl]="'assets/data/cities.json'"
          [httpmethod]="'get'"
          [search]="'true'"
          [displayfield]="'cityName'"
          [valuefield]="'cityName'">
        </amexio-dropdown>
      </amexio-column>
    </amexio-row>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-email-input [fieldlabel]="'Email'" name="email"
                            [placeholder]="'Enter mail id'"
                            [enablepopover]="true"
                            [iconfeedback]="true"
                            [allowblank]="false" [errormsg]="'Please enter correct mail id'">
        </amexio-email-input>

      </amexio-column>
      <amexio-column [size]="6">
        <amexio-password-input [fieldlabel]="'Password'" name="password"
                               [placeholder]="'Enter Password'"
                               [allowblank]="false"
                               [errormsg]="'Please enter password'"
                               [minlength]="6"
                               [minerrormsg]="'Minimum 6 char required'"
                               [maxlength]="32"
                               [maxerrormsg]="'Maximum 32 char allowed'"
                               [enablepopover]="true">
        </amexio-password-input>

      </amexio-column>
    </amexio-row>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-checkbox-group
          (selectedValue)="onClick($event)" [fieldlabel]="'Hobbies'" name="language"
          [horizontal]="true"
                         [datareader]="'response.data'"
                         [displayfield]="'language'"
                         [valuefield]="'checked'"
                         [column]="4"
                         [data]="checkboxGroupdata">
        </amexio-checkbox-group>

      </amexio-column>
      <amexio-column [size]="6">
        <amexio-radio-group
          name="name" (selectedValue)="onClick($event)"
                                  [fieldlabel] = "'Gender'"
                            [horizontal]="true"
                            [datareader]="'response.data'"
                            [displayfield]="'gender'"
                            [valuefield]="'genderId'"
                            [data]="radioGroupData"
                           >
        </amexio-radio-group>
      </amexio-column>
    </amexio-row>

    <amexio-row>
      <amexio-column [size]="6">
        <amexio-toggle [fieldlabel]="'On/Off'" (onChange)="onClick($event)"></amexio-toggle>
      </amexio-column>
      <amexio-column [size]="6">
        <amexio-checkbox  [fieldlabel]="'I Agree'" (selectedValue)="onClick($event)"></amexio-checkbox>
        <p>Selected Value : {{printvalue}}</p>
      </amexio-column>
    </amexio-row>

    <amexio-row>
      <amexio-item-selector [height]="200" [displayfield]="'countryName'"
                            [valuefield]="'countryId'"
                            [httpurl]="'assets/data/itemdata.json'"
                            [httpmethod]="'get'" [datareader]="'data'" >
      </amexio-item-selector>
    </amexio-row>
    <amexio-row>
      <!--<amexio-slider [(ngModel)]="name" minvalue="0" maxvalue="100" stepvalue="10"></amexio-slider>-->
      <amexio-fieldset [collapsible]="true" title="Form">
        <amexio-button label="Next" ></amexio-button>
      </amexio-fieldset>

    </amexio-row>
  </amexio-body>
</amexio-card>
