<!--
<amexio-row>

  <amexio-column [size]="4">
    <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" >
      <amexio-west [contentalign]="'center'" [width]="'100px'" [c-class]="'visual'">
        <i class="fa fa-line-chart fa-3x"></i>
      </amexio-west>
      <amexio-center [contentalign]="'left'">
        <span class="title">200 Million</span>
        <br>
        <span class="subtitle">Sales Volume</span>
      </amexio-center>
      <amexio-south [contentalign]="'center'" [c-class]="'footer'" ><div>10% More than last year</div></amexio-south>
    </amexio-datapoints>
  </amexio-column>

  <amexio-column [size]="4">
    <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" >
      <amexio-west [contentalign]="'center'" [width]="'100px'" [c-class]="'visual'">
        <i class="fa fa-line-chart fa-3x"></i>
      </amexio-west>
      <amexio-center [contentalign]="'left'">
        <span class="title">$10 Million</span>
        <br>
        <span class="subtitle">Sales Revenue</span>
      </amexio-center>
      <amexio-south [contentalign]="'center'" [c-class]="'footer'"><div >5% More than last year</div></amexio-south>
    </amexio-datapoints>
  </amexio-column>
  <amexio-column [size]="4">
    <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true"  >
      <amexio-west [contentalign]="'center'" [width]="'100px'" [c-class]="'visual'">
        <i class="fa fa-line-chart fa-3x"></i>
      </amexio-west>
      <amexio-center [contentalign]="'left'">
        <span class="title">$2 Million</span>
        <br>
        <span class="subtitle">Profit</span>
      </amexio-center>

      <amexio-south [contentalign]="'center'" [c-class]="'footer'"><div>10% More than last year</div></amexio-south>
    </amexio-datapoints>
  </amexio-column>
</amexio-row>

<amexio-row>  
  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>
        Motivation and Energy Level
      </amexio-header>
      <amexio-body>

        <amexio-chart-bar [data]="barStackData" [stacked]="true" >
          <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
        </amexio-chart-bar>

      </amexio-body>
    </amexio-card>

  </amexio-column>
  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>
        Company Performance
      </amexio-header>
      <amexio-body>
        <amexio-chart-bar [data]="barStackData" [stacked]="true" >
          <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
        </amexio-chart-bar>
      </amexio-body>
    </amexio-card>

  </amexio-column>
</amexio-row>
<amexio-row>  

  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>
        My Daily Activities
      </amexio-header>
      <amexio-body>
        <amexio-chart-donut [data]="donutData">
          <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
        </amexio-chart-donut>
      </amexio-body>
    </amexio-card>

  </amexio-column>
  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>
        Company Performance
      </amexio-header>
      <amexio-body>
        <amexio-chart-area [data]="areaData">
          <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
        </amexio-chart-area>
      </amexio-body>
    </amexio-card>

  </amexio-column>
</amexio-row>
<amexio-row>  

  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>Box Office Earnings - First 2 Weeks</amexio-header>
      <amexio-body>
        <amexio-chart-line [data]="lineData">
          <amexio-chart-legend [position]="'top'"></amexio-chart-legend>
        </amexio-chart-line>
      </amexio-body>
    </amexio-card>

  </amexio-column>
  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>Daily Activities</amexio-header>
      <amexio-body>
        <amexio-chart-pie [data]="pieChartData" [is3d]="true">
          <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
        </amexio-chart-pie>
      </amexio-body>
    </amexio-card>

  </amexio-column>
</amexio-row>
-->
<!--
<amexio-row>

  <amexio-column [size]="4">
    <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" >
      <amexio-west [contentalign]="'center'" [width]="'100px'" [c-class]="'visual'">
        <i class="fa fa-line-chart fa-3x"></i>
      </amexio-west>
      <amexio-center [contentalign]="'left'">
        <span class="title">200 Million</span>
        <br>
        <span class="subtitle">Sales Volume</span>
      </amexio-center>
      <amexio-south [contentalign]="'center'" [c-class]="'footer'" ><div>10% More than last year</div></amexio-south>
    </amexio-datapoints>
  </amexio-column>

  <amexio-column [size]="4">
    <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" >
      <amexio-west [contentalign]="'center'" [width]="'100px'" [c-class]="'visual'">
        <i class="fa fa-line-chart fa-3x"></i>
      </amexio-west>
      <amexio-center [contentalign]="'left'">
        <span class="title">$10 Million</span>
        <br>
        <span class="subtitle">Sales Revenue</span>
      </amexio-center>
      <amexio-south [contentalign]="'center'" [c-class]="'footer'"><div >5% More than last year</div></amexio-south>
    </amexio-datapoints>
  </amexio-column>
  <amexio-column [size]="4">
    <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true"  >
      <amexio-west [contentalign]="'center'" [width]="'100px'" [c-class]="'visual'">
        <i class="fa fa-line-chart fa-3x"></i>
      </amexio-west>
      <amexio-center [contentalign]="'left'">
        <span class="title">$2 Million</span>
        <br>
        <span class="subtitle">Profit</span>
      </amexio-center>

      <amexio-south [contentalign]="'center'" [c-class]="'footer'"><div>10% More than last year</div></amexio-south>
    </amexio-datapoints>
  </amexio-column>
</amexio-row>

<amexio-row>  
  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>
        Motivation and Energy Level
      </amexio-header>
      <amexio-body>

        <amexio-chart-bar [data]="barStackData" [stacked]="true" >
          <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
        </amexio-chart-bar>

      </amexio-body>
    </amexio-card>

  </amexio-column>
  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>
        Company Performance
      </amexio-header>
      <amexio-body>
        <amexio-chart-bar [data]="barStackData" [stacked]="true" >
          <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
        </amexio-chart-bar>
      </amexio-body>
    </amexio-card>

  </amexio-column>
</amexio-row>
<amexio-row>  

  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>
        My Daily Activities
      </amexio-header>
      <amexio-body>
        <amexio-chart-donut [data]="donutData">
          <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
        </amexio-chart-donut>
      </amexio-body>
    </amexio-card>

  </amexio-column>
  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>
        Company Performance
      </amexio-header>
      <amexio-body>
        <amexio-chart-area [data]="areaData">
          <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
        </amexio-chart-area>
      </amexio-body>
    </amexio-card>

  </amexio-column>
</amexio-row>
<amexio-row>  

  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>Box Office Earnings - First 2 Weeks</amexio-header>
      <amexio-body>
        <amexio-chart-line [data]="lineData">
          <amexio-chart-legend [position]="'top'"></amexio-chart-legend>
        </amexio-chart-line>
      </amexio-body>
    </amexio-card>

  </amexio-column>
  <amexio-column [size]="6">

    <amexio-card [footer]="false" [header]="true">
      <amexio-header>Daily Activities</amexio-header>
      <amexio-body>
        <amexio-chart-pie [data]="pieChartData" [is3d]="true">
          <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
        </amexio-chart-pie>
      </amexio-body>
    </amexio-card>

  </amexio-column>
</amexio-row>
-->
