<amexio-card [header]="true">
  <amexio-header>Panels</amexio-header>
  <amexio-body>
    <amexio-tab-view  [closable]="false">

      <amexio-tab [title]="'Carousel'" [icon]="'fa fa-desktop fa-fw '" >


        <amexio-carousel [data]="viewData" mode="multiple" [header]="'Collections'" shuffleinterval="2000" >
          <ng-template let-i amexioTemplate="item">
            <amexio-card>
              <amexio-body>
                <div style="height: 375px;">
                  <img src={{i.img}}/>
                  <p>"{{i.desc}}"</p>
                </div>
              </amexio-body>
            </amexio-card>
          </ng-template>
        </amexio-carousel>

      </amexio-tab>

      <amexio-tab [title]="'Form'" [icon]="'fa fa-laptop fa-fw'">
        <amexio-card [header]="true" [footer]="true">
          <amexio-header>
            Card
          </amexio-header>
          <amexio-body>
            <amexio-row>
              <amexio-column [size]="6">
                <amexio-text-input [fieldlabel]="'FirstName'" name="name" [placeholder]="'Enter firstname'" [iconfeedback]="true">
                </amexio-text-input>
              </amexio-column>
              <amexio-column [size]="6">
                <amexio-text-input [fieldlabel]="'Last Name'" name="name" [placeholder]="'Enter lastname'" [iconfeedback]="true">
                </amexio-text-input>
              </amexio-column>
            </amexio-row>
            <amexio-row>
              <amexio-column [size]="12">
                <amexio-text-input [fieldlabel]="'Address'" name="address" [placeholder]="'Enter address'" [iconfeedback]="true">
                </amexio-text-input>
              </amexio-column>
            </amexio-row>
            <amexio-row>
              <amexio-column [size]="6">
                <amexio-text-input [fieldlabel]="'Phone'" name="phone" [placeholder]="'Enter phone'" [iconfeedback]="true">
                </amexio-text-input>
              </amexio-column>
              <amexio-column [size]="6">
                <amexio-text-input [fieldlabel]="'Email'" name="email" [placeholder]="'Enter Email'" [iconfeedback]="true">
                </amexio-text-input>
              </amexio-column>
            </amexio-row>
          </amexio-body>
          <amexio-action>
            <amexio-button [label]="'Save'" [type]="'success'" [tooltip]="'save'"></amexio-button>
          </amexio-action>
        </amexio-card>
      </amexio-tab>
      <amexio-tab [title]="'Image'" [icon]="'fa fa-picture-o fa-fw'">

        <amexio-card [header]="true" [footer]="true">
          <amexio-header>Image</amexio-header>
          <amexio-body>
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2840%29.jpg" class="layout-fit-img">
            <br/>
            <h5 class="red-text"><i class="fa fa-money"></i> “There's a sunrise and a sunset every single day, and they're absolutely free. Don't miss so many of them.”
              ― Jo Walton</h5>

          </amexio-body>
          <amexio-action>

          </amexio-action>
        </amexio-card>

      </amexio-tab>



      <amexio-tab [title]="'Accordion'" [icon]="'fa fa-eercast'" >
        <amexio-accordion>
          <amexio-accordion-tab [header]="'Accordion Pane-I'" [expanded]="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </amexio-accordion-tab>
          <amexio-accordion-tab [header]="'Accordion Pane-II'">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </amexio-accordion-tab>
          <amexio-accordion-tab [header]="'Accordion Pane-III'" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </amexio-accordion-tab>
          <amexio-accordion-tab [header]="'Accordion Pane-IV'" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </amexio-accordion-tab>
        </amexio-accordion>
      </amexio-tab>

      <amexio-tab [title]="'Fieldset'" [icon]="'fa fa-clone fa-fw'">
        <amexio-fieldset [title]="'Fieldset1'" [collapsible]="false">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </amexio-fieldset>
        <amexio-fieldset [title]="'Fieldset2'" [collapsible]="true">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </amexio-fieldset>
      </amexio-tab>
      <amexio-tab [title]="'Window'"  [active]="true" [icon]="'fa fa-windows fa-fw'">
        <amexio-row>
          <amexio-column [size]="12">
            <amexio-vertical-tab-view >
              <amexio-tab [title]="'Window'" [active]="true">
                <amexio-card [header]="false">
                  <amexio-body>
                    <amexio-button [label]="'Window Layout'" [type]="'primary'" [tooltip]="'Hide/UnHide'" (click)="toggle()"> </amexio-button>
                    <amexio-window [(showWindow)]="flag" [closable]="true">
                      <amexio-header>
                        Employee Registration
                      </amexio-header>
                      <amexio-body>
                        <amexio-row>
                          <amexio-column [size]="6">
                            <amexio-text-input [fieldlabel]="'FirstName'" name="name" [placeholder]="'Enter firstname'" [iconfeedback]="true">
                            </amexio-text-input>
                          </amexio-column>
                          <amexio-column [size]="6">
                            <amexio-text-input [fieldlabel]="'Last Name'" name="name" [placeholder]="'Enter lastname'" [iconfeedback]="true">
                            </amexio-text-input>
                          </amexio-column>
                        </amexio-row>
                        <amexio-row>
                          <amexio-column [size]="12">
                            <amexio-text-input [fieldlabel]="'Address'" name="address" [placeholder]="'Enter address'" [iconfeedback]="true">
                            </amexio-text-input>
                          </amexio-column>
                        </amexio-row>
                        <amexio-row>
                          <amexio-column [size]="6">
                            <amexio-text-input [fieldlabel]="'Phone'" name="phone" [placeholder]="'Enter phone'" [iconfeedback]="true">
                            </amexio-text-input>
                          </amexio-column>
                          <amexio-column [size]="6">
                            <amexio-text-input [fieldlabel]="'Email'" name="email" [placeholder]="'Enter Email'" [iconfeedback]="true">
                            </amexio-text-input>
                          </amexio-column>
                        </amexio-row>
                      </amexio-body>
                      <amexio-action>
                        <amexio-button [label]="'Save'" [type]="'success'" [tooltip]="'save'"></amexio-button>
                      </amexio-action>
                    </amexio-window>
                  </amexio-body>
                </amexio-card>
              </amexio-tab>
              <amexio-tab [title]="'Dialog Box'">
                <amexio-card [header]="false" [footer]="false">
                  <amexio-body>
                    <amexio-button type="primary" (onClick)="toggleClosable()" label="Dialog Box"></amexio-button>
                    <amexio-window [showWindow]="showClosable" [closable]="true" type="window">
                      <amexio-header>
                          Confirm
                        </amexio-header>
                        <amexio-body >
                                Please confirm
                                Are you sure you want to continue?
                        </amexio-body>
                              <amexio-action>
                                <amexio-button (onClick)="showClosable = false" label="Cancel"></amexio-button>
                                <amexio-button (onClick)="showClosable = false" label="Ok"></amexio-button>
                              </amexio-action>
                    </amexio-window>
                  </amexio-body>
                </amexio-card>
              </amexio-tab>
              <amexio-tab [title]="'Alert Box'">
                <amexio-card [header]="false" [footer]="false">
                  <amexio-body>
                    <amexio-button type="primary" (onClick)="toggleAlertWindow()" label="Alert Box"></amexio-button>
                    <div style="height=100px;width=100px" >
                    <amexio-window [showWindow]="showAlertWindow" [closable]="false" type="window">
                      <amexio-header>
                        Staus
                      </amexio-header>
                      <amexio-body>
                        <amexio-row>
                          <amexio-column [size]="6">
                            <amexio-body>
                              Changes saved successfully !
                            </amexio-body>
                          </amexio-column>
                        </amexio-row>
                      </amexio-body>
                      <amexio-action>
                        <amexio-button (onClick)="showAlertWindow = false" label="Close"></amexio-button>
                      </amexio-action>
                    </amexio-window>
                  </div>
                  </amexio-body>
                </amexio-card>
              </amexio-tab>
            </amexio-vertical-tab-view>
          </amexio-column>
        </amexio-row>
      </amexio-tab>
      <amexio-tab [title]="'Step Box'" [icon]="'fa fa-step-forward fa-fw'">
        <amexio-steps  [block]="true" onClick="stepBlockClick($event)">
          <amexio-step-block [label]="'User'" [active]="true"></amexio-step-block>
          <amexio-step-block [label]="'Shop'" [active]="false"></amexio-step-block>
          <amexio-step-block [label]="'Payment'" [active]="false"></amexio-step-block>
          <amexio-step-block [label]="'Confirmation'" [active]="false"></amexio-step-block>
        </amexio-steps>
        <br />

        <amexio-steps  [block]="true" [icon]="true">
          <amexio-step-block [label]="'User'" [icon]="'fa fa-eercast'"></amexio-step-block>
          <amexio-step-block [label]="'Shop'" [icon]="'fa fa-eercast'"></amexio-step-block>
          <amexio-step-block [label]="'Payment'" [icon]="'fa fa-eercast'"></amexio-step-block>
          <amexio-step-block [label]="'Confirmation'" [icon]="'fa fa-eercast'"></amexio-step-block>
        </amexio-steps>
        <br />
        <!--Step-box index -->
        <amexio-steps  [block]="true" [index]="true" >
          <amexio-step-block [label]="'step-1'" [active]="true"></amexio-step-block>
          <amexio-step-block [label]="'step-2'" [active]="false"></amexio-step-block>
          <amexio-step-block [label]="'step-3'" [active]="false"></amexio-step-block>
          <amexio-step-block [label]="'step-4'" [active]="false"></amexio-step-block>
        </amexio-steps>
        <!--<amexio-right-vertical-tab-view>
          <amexio-tab [title]="'Step box'" [icon]="'fa fa-eercast'">
            <amexio-card [header]="false" [footer]="false">
              <amexio-body>
                <amexio-steps  [block]="true" onClick="stepBlockClick($event)">
                  <amexio-step-block [label]="'User'" [active]="true"></amexio-step-block>
                  <amexio-step-block [label]="'Shop'" [active]="false"></amexio-step-block>
                  <amexio-step-block [label]="'Payment'" [active]="false"></amexio-step-block>
                  <amexio-step-block [label]="'Confirmation'" [active]="false"></amexio-step-block>
                </amexio-steps>
                <br />

                <amexio-steps  [block]="true" [icon]="true">
                  <amexio-step-block [label]="'User'" [icon]="'fa fa-eercast'"></amexio-step-block>
                  <amexio-step-block [label]="'Shop'" [icon]="'fa fa-eercast'"></amexio-step-block>
                  <amexio-step-block [label]="'Payment'" [icon]="'fa fa-eercast'"></amexio-step-block>
                  <amexio-step-block [label]="'Confirmation'" [icon]="'fa fa-eercast'"></amexio-step-block>
                </amexio-steps>
                <br />
                &lt;!&ndash;Step-box index &ndash;&gt;
                <amexio-steps  [block]="true" [index]="true" >
                  <amexio-step-block [label]="'step-1'" [active]="true"></amexio-step-block>
                  <amexio-step-block [label]="'step-2'" [active]="false"></amexio-step-block>
                  <amexio-step-block [label]="'step-3'" [active]="false"></amexio-step-block>
                  <amexio-step-block [label]="'step-4'" [active]="false"></amexio-step-block>
                </amexio-steps>
              </amexio-body>
            </amexio-card>
          </amexio-tab>
          <amexio-tab [title]="'Border Layout'" [active]="true" [icon]="'fa fa-eercast'">
            <amexio-card>
              <amexio-body>
                <amexio-borderlayout>
                  <amexio-borderlayout-item position="north">
                    <div [class]="'layout-border'"> We are in North </div>
                  </amexio-borderlayout-item>
                  <amexio-borderlayout-item position="east">
                    <div [class]="'layout-border'"> We are in East </div>
                  </amexio-borderlayout-item>
                  <amexio-borderlayout-item position="center">
                    <div [class]="'layout-border'"> We are in Center</div>
                  </amexio-borderlayout-item>
                  <amexio-borderlayout-item position="west">
                    <div [class]="'layout-border'"> We are in West </div>
                  </amexio-borderlayout-item>
                  <amexio-borderlayout-item position="south">
                    <div [class]="'layout-border'">We are in South </div>
                  </amexio-borderlayout-item>
                </amexio-borderlayout>
              </amexio-body>
            </amexio-card>
          </amexio-tab>
        </amexio-right-vertical-tab-view>-->
      </amexio-tab>

      <amexio-tab [title]="'Layouts'" [icon]="'fa fa-th'" >
          <h4>Border Layout</h4>
          <amexio-borderlayout>
            <amexio-borderlayout-item position="north">
              <amexio-card><amexio-body>NORTH</amexio-body></amexio-card>
            </amexio-borderlayout-item>
            <amexio-borderlayout-item position="east">
              <amexio-card><amexio-body>EAST</amexio-body></amexio-card>
            </amexio-borderlayout-item>
            <amexio-borderlayout-item position="center">
              <amexio-card><amexio-body>CENTER</amexio-body></amexio-card>
            </amexio-borderlayout-item>
            <amexio-borderlayout-item position="west">
              <amexio-card><amexio-body>WEST</amexio-body></amexio-card>
            </amexio-borderlayout-item>
            <amexio-borderlayout-item position="south">
              <amexio-card><amexio-body>SOUTH</amexio-body></amexio-card>
            </amexio-borderlayout-item>
          </amexio-borderlayout>
          <h4>Row Column Layout</h4>
          <amexio-row>
            <amexio-column size="4"><amexio-card><amexio-body>COL Size 4</amexio-body></amexio-card></amexio-column>
            <amexio-column size="3"><amexio-card><amexio-body>COL Size 3</amexio-body></amexio-card></amexio-column>
            <amexio-column size="2"><amexio-card><amexio-body>COL Size 2</amexio-body></amexio-card></amexio-column>
            <amexio-column size="3"><amexio-card><amexio-body>COL Size 3</amexio-body></amexio-card></amexio-column>
          </amexio-row>
      </amexio-tab>
    </amexio-tab-view>


  </amexio-body>
</amexio-card>
