
<amexio-row>
  <amexio-column [size]="12">
    <amexio-tab-view>
      <amexio-tab title="Grid" active="true">
        <amexio-row>
          <amexio-column [size]="12">
            <amexio-card [enableFooter]="false" [enableHeader]="true">
              <amexio-header>Simple Data Grid</amexio-header>
              <amexio-body>
                <amexio-datagrid [columnToggle]="true" [checkboxSelect]="false"  [height]="300" title="Country Grid"   [httpMethod]="'get'" [httpUrl]="'assets/data/datagrid.json'" [dataReader]="'data'"  [pageSize] = "10" [filtering]="false">
                  <amexio-data-table-column [dataIndex]="'name_official'" [dataType]="'string'" [hidden]="false" [text]="'Name'">
                  </amexio-data-table-column>
                  <amexio-data-table-column [dataIndex]="'latitude'" [dataType]="'string'" [hidden]="false" [text]="'Latitude'"></amexio-data-table-column>
                  <amexio-data-table-column [dataIndex]="'longitude'" [dataType]="'number'" [hidden]="false" [text]="'Longitude'"></amexio-data-table-column>
                </amexio-datagrid>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row><br>
        <amexio-row>
          <amexio-column [size]="12">
            <amexio-card [enableFooter]="false" [enableHeader]="true">
              <amexio-header>Data Grid with Template</amexio-header>
              <amexio-body>
                <amexio-datagrid  [checkboxSelect]="true" title="Country Grid"   [httpMethod]="'get'" [httpUrl]="'assets/data/datagrid.json'" [dataReader]="'data'"  [pageSize] = "10" [filtering]="false">
                  <amexio-data-table-column [dataIndex]="'name_official'" [dataType]="'string'" [hidden]="false" [text]="'Name'">
                    <ng-template #amexioBodyTmpl let-column let-row="row">
                        <span>
                            <img src="" [attr.src]="'http://amexio.org/showcaseapp/v3/assets/images/flags/flags/'+row.flag_32">&nbsp;{{row.name}} ( {{row.name_official}} )
                        </span>
                    </ng-template>
                  </amexio-data-table-column>
                  <amexio-data-table-column [dataIndex]="'latitude'" [dataType]="'string'" [hidden]="false" [text]="'Latitude'"></amexio-data-table-column>
                  <amexio-data-table-column [dataIndex]="'longitude'" [dataType]="'number'" [hidden]="false" [text]="'Longitude'"></amexio-data-table-column>
                </amexio-datagrid>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row><br>
        <amexio-row>
          <amexio-column [size]="12">
            <amexio-card [enableFooter]="false" [enableHeader]="true">
              <amexio-header>Data Grid with Filtering</amexio-header>
              <amexio-body>
                <amexio-datagrid [columnToggle]="true"
                                 [columnDefinition]="columnData"
                                 [filtering]="true" title="Issue Record"
                                 [checkboxSelect]="false"
                                 [data]="localData"
                                 [dataReader]=""
                                 [pageSize] = "10"
                                 [filtering]="true">
                </amexio-datagrid>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row>
      </amexio-tab>
      <amexio-tab title="Tree">

        <amexio-row>
          <amexio-column [size]="3">
            <amexio-card [enableFooter]="false" [enableHeader]="true">
              <amexio-header>Simple Tree</amexio-header>
              <amexio-body>
                <amexio-treeview [dataReader]="'data'" [data]="treeLocalData">
                </amexio-treeview>
              </amexio-body>
            </amexio-card>
          </amexio-column>
          <amexio-column [size]="3">
            <amexio-card [enableFooter]="false" [enableHeader]="true">
              <amexio-header>Tree with Checkbox</amexio-header>
              <amexio-body>
                <amexio-treeview [enableCheckBox]="true" [dataReader]="'data'"
                                 [httpUrl]="'assets/data/treecheckbox.json'"
                                 [httpMethod]="'get'">
                </amexio-treeview>
              </amexio-body>
            </amexio-card>
          </amexio-column>
          <amexio-column [size]="3">
            <amexio-card [enableFooter]="false" [enableHeader]="true">
              <amexio-header>Tree with Template</amexio-header>
              <amexio-body>
                <amexio-treeview [dataReader]="'data'"
                                 [httpUrl]="'assets/data/menus/sidebar.json'"
                                 [httpMethod]="'get'">
                  <ng-template #amexioTreeTemplate let-tree let-icon="icon" let-node="node">
                    <i [attr.class]="node.icon"></i> &nbsp; &nbsp;&nbsp;{{tree.text}}
                  </ng-template>
                </amexio-treeview>
              </amexio-body>
            </amexio-card>
          </amexio-column>
          <amexio-column [size]="3">
            <amexio-card [enableFooter]="false" [enableHeader]="true">
              <amexio-header>Tree with Filtering</amexio-header>
              <amexio-body>
                <amexio-tree-filter-view [dataReader]="'data'"
                                         [httpMethod]="'get'"
                                         [httpUrl]="'assets/data/menus/sidebar.json'">
                </amexio-tree-filter-view>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row><br>
      </amexio-tab>
    </amexio-tab-view>
  </amexio-column>
</amexio-row>
