
<amexio-row>
  <amexio-column [size]="12">
    <amexio-tab-view>
      <amexio-tab title="Grid" active="true">
        <amexio-row>
          <amexio-column [size]="12">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Simple Data Grid</amexio-header>
              <amexio-body>
                <amexio-datagrid
                  [enablecolumnfiter]="true" [enablecheckbox]="false"  [height]="300" title="Country Grid"   [httpmethod]="'get'" [httpurl]="'assets/data/datagrid.json'" [datareader]="'data'"  [pagesize] = "10" [enabledatafilter]="false">
                  <amexio-data-table-column [dataindex]="'name_official'" [datatype]="'string'" [hidden]="false" [text]="'Name'">
                  </amexio-data-table-column>
                  <amexio-data-table-column [dataindex]="'latitude'" [datatype]="'string'" [hidden]="false" [text]="'Latitude'"></amexio-data-table-column>
                  <amexio-data-table-column [dataindex]="'longitude'" [datatype]="'number'" [hidden]="false" [text]="'Longitude'"></amexio-data-table-column>
                </amexio-datagrid>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row><br>
        <amexio-row>
          <amexio-column [size]="12">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Data Grid with Template</amexio-header>
              <amexio-body>
                <amexio-datagrid  [enablecheckbox]="true" title="Country Grid"   [httpmethod]="'get'" [httpurl]="'assets/data/datagrid.json'" [datareader]="'data'"  [pagesize] = "10" [enabledatafilter]="false">
                  <amexio-data-table-column [width]="50" [dataindex]="'name_official'" [datatype]="'string'" [hidden]="false" [text]="'Name'">
                    <ng-template #amexioBodyTmpl let-column let-row="row">
                        <span>
                            <img src="" [attr.src]="'http://amexio.org/showcaseapp/v3/assets/images/flags/flags/'+row.flag_32">&nbsp;{{row.name}} ( {{row.name_official}} )
                        </span>
                    </ng-template>
                  </amexio-data-table-column>
                  <amexio-data-table-column [width]="20" [dataindex]="'latitude'" [datatype]="'string'" [hidden]="false" [text]="'Latitude'"></amexio-data-table-column>
                  <amexio-data-table-column [width]="20" [dataindex]="'longitude'" [datatype]="'number'" [hidden]="false" [text]="'Longitude'"></amexio-data-table-column>
                </amexio-datagrid>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row><br>
        <amexio-row>
          <amexio-column [size]="12">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Data Grid with Filtering</amexio-header>
              <amexio-body>
                <amexio-datagrid [enablecolumnfiter]="true"
                                 [columndefintion]="columnData"
                                 [enabledatafilter]="true" title="Issue Record"
                                 [enablecheckbox]="false"
                                 [data]="localData"
                                 [datareader]=""
                                 [pagesize] = "10"
                                 [enabledatafilter]="true">
                </amexio-datagrid>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row>
         <amexio-row>
          <amexio-column [size]="12">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Group By Data Grid</amexio-header>
              <amexio-body>
                <amexio-datagrid
                  [enablecolumnfiter]="true"  [groupby]="true"  [groupbydataindex]="'jobTitle'" [enablecheckbox]="true" title="Employee Details"   [httpmethod]="'get'" [httpurl]="'assets/data/datagridgroupby.json'" [datareader]="'data'"  [pagesize] = "5" [enabledatafilter]="false">
                  <amexio-data-table-column [dataindex]="'preferredFullName'" [datatype]="'string'" [hidden]="false" [text]="'FullName'"></amexio-data-table-column>
                  <amexio-data-table-column [dataindex]="'jobTitle'" [datatype]="'string'" [hidden]="false" [text]="'Job Title'">
                  </amexio-data-table-column>
                  <amexio-data-table-column [dataindex]="'salary'" [datatype]="'number'" [hidden]="false" [text]="'Salary'"></amexio-data-table-column>
                </amexio-datagrid>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row>
      </amexio-tab>
      <amexio-tab title="Tree Data Grid">

        <amexio-row>
          <amexio-column [size]="12">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Tree Data Grid</amexio-header>
              <amexio-body>
                <amexio-tree-data-table [httpmethod]="'get'" [httpurl]="'assets/data/treedatatable.json'" [datareader]="'data'">
                  <amexio-data-table-column [dataindex]="'user'" [datatype]="'string'" [hidden]="false" [text]="'User'"></amexio-data-table-column>
                  <amexio-data-table-column [dataindex]="'duration'" [datatype]="'number'" [hidden]="false" [text]="'Duration'"></amexio-data-table-column>
                </amexio-tree-data-table>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row><br>
      </amexio-tab>
      <amexio-tab title="Tree">
        <amexio-row>
          <amexio-column [size]="3">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Simple Tree</amexio-header>
              <amexio-body>
                <amexio-treeview [datareader]="'data'" [data]="treeLocalData">
                </amexio-treeview>
              </amexio-body>
            </amexio-card>
          </amexio-column>
          <amexio-column [size]="3">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Tree with Checkbox</amexio-header>
              <amexio-body>
                <amexio-treeview [enableCheckBox]="true" [datareader]="'data'"
                                 [httpurl]="'assets/data/treecheckbox.json'"
                                 [httpmethod]="'get'">
                </amexio-treeview>
              </amexio-body>
            </amexio-card>
          </amexio-column>
          <amexio-column [size]="3">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Tree with Template</amexio-header>
              <amexio-body>
                <amexio-treeview [datareader]="'data'"
                                 [httpurl]="'assets/data/menus/sidebar.json'"
                                 [httpmethod]="'get'">
                  <ng-template #amexioTreeTemplate let-tree let-icon="icon" let-node="node">
                    <i [attr.class]="node.icon"></i> &nbsp; &nbsp;&nbsp;{{tree.text}}
                  </ng-template>
                </amexio-treeview>
              </amexio-body>
            </amexio-card>
          </amexio-column>
          <amexio-column [size]="3">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Tree with Filtering</amexio-header>
              <amexio-body>
                <amexio-tree-filter-view [datareader]="'data'"
                                         [httpmethod]="'get'"
                                         [httpurl]="'assets/data/menus/sidebar.json'">
                </amexio-tree-filter-view>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row><br>
      </amexio-tab>

      <amexio-tab title="Horizontal Tree View">

        <amexio-row>
          <amexio-column [size]="12">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Horizontal Tree View</amexio-header>
              <amexio-body>
                <amexio-horizontal-treeview [datareader]="'data'" [httpurl]="'assets/data/menus/sidebar.json'" [httpmethod]="'get'" label="Menu" (nodeClick)="onClick($event)"></amexio-horizontal-treeview>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row><br>
      </amexio-tab>

    </amexio-tab-view>


  </amexio-column>
</amexio-row>



<!--<amexio-row>
  <amexio-column [size]="12">
    <amexio-tab-view>
      <amexio-tab title="Grid" active="true">
        <amexio-row>
          <amexio-column [size]="12">
            <amexio-card [footer]="false" [header]="true">
              <amexio-header>Simple Data Grid</amexio-header>
              <amexio-body>
                <amexio-datagrid-1
                  [enablecolumnfiter]="true" [height]="200"  [groupby]="false"  [groupbydataindex]="'jobTitle'" [enablecheckbox]="false" title="Employee Details"   [httpmethod]="'get'" [httpurl]="'assets/data/datagridgroupby.json'" [datareader]="'data'"  [pagesize] = "5" [enabledatafilter]="false">
                  <amexio-data-table-column-1 [width]="50" [dataindex]="'preferredFullName'" [datatype]="'string'" [hidden]="false" [text]="'FullName'"></amexio-data-table-column-1>
                  <amexio-data-table-column-1 [width]="30" [dataindex]="'jobTitle'" [datatype]="'string'" [hidden]="false" [text]="'Job Title'">
                  </amexio-data-table-column-1>
                  <amexio-data-table-column-1  [width]="10" [dataindex]="'salary'" [datatype]="'number'" [hidden]="false" [text]="'Salary'"></amexio-data-table-column-1>
                  <amexio-data-table-column-1  [width]="10" [dataindex]="'salary'" [datatype]="'number'" [hidden]="false" [text]="'Salary'"></amexio-data-table-column-1>
                  <amexio-data-table-column-1  [width]="10" [dataindex]="'salary'" [datatype]="'number'" [hidden]="false" [text]="'Salary'"></amexio-data-table-column-1>
                  <amexio-data-table-column-1  [width]="10" [dataindex]="'salary'" [datatype]="'number'" [hidden]="false" [text]="'Salary'"></amexio-data-table-column-1>
                </amexio-datagrid-1>
              </amexio-body>
            </amexio-card>
          </amexio-column>
        </amexio-row>
      </amexio-tab>
    </amexio-tab-view>
  </amexio-column>
</amexio-row>-->
