<amexio-nav  [title]="'Amexio Demo App'" [logo]="'assets/images/logos/amexio-logo.png'">
  <amexio-nav-item position-right>
    <amexio-image icon-class="fa fa-home fa-fw fa-lg" title="Home" (onClick)="onHomeClick()" style="cursor: pointer;" ></amexio-image>
  </amexio-nav-item>
  <amexio-nav-item position-right>
    <amexio-image icon-class="fa fa-bell fa-fw fa-lg" (onClick)="onBellClick()" title="Notifications" style="cursor: pointer;"></amexio-image>

    <amexio-notification [auto-dismiss-msg-interval]="4000" [auto-dismiss-msg]="true" [vertical-position]="'top'"
                         [horizontal-position]="'right'" [closable]="true" [data]="msgList"></amexio-notification>
  </amexio-nav-item>
  <amexio-nav-item position-right>
    <amexio-image icon-class="fa fa-user-circle fa-fw fa-lg" title="John Doe" style="cursor: pointer;" (onClick)="onUserClick()"></amexio-image>
  </amexio-nav-item>

  <!-- <amexio-nav-item position-right>
    <amexio-image icon-class="fa fa-snowflake-o fa-fw fa-lg faa-tada animated fa-2x" title="Themes" (onClick)="toggle()" style="cursor: pointer;"></amexio-image>
    <div class="themeviewer" *ngIf="flag">
      <amexio-card [header]="true">
        <amexio-header>
          Select Theme
        </amexio-header>
        <amexio-body>
            <amexio-tab-view  [closable]="false">
              <amexio-tab title="Material" [active]="true">
                <div style="height: 350px;overflow-x: auto">
                  <amexio-row *ngFor="let objArray of materialThemeArray" >
                    <ng-container *ngFor="let obj of objArray">
                      <amexio-column style="cursor: pointer" [size]="4"  (click)="themeChange(obj)">
                        <amexio-image [path]="'assets/images/themematerialicons/'+ obj.link"></amexio-image><br><b>{{obj.themeName}}</b>
                      </amexio-column>
                    </ng-container>
                  </amexio-row>
                </div>

              </amexio-tab>
              <amexio-tab title="Amexio">
                <div style="height: 350px;overflow-x: auto">
                  <amexio-row *ngFor="let objArray of amexioThemeArray" >
                    <ng-container *ngFor="let obj of objArray">
                      <amexio-column style="cursor: pointer" [size]="4"  (click)="themeChange(obj)">
                        <amexio-image [path]="'assets/images/themeamexioicon/'+ obj.link"></amexio-image><br><b>{{obj.themeName}}</b>
                      </amexio-column>
                    </ng-container>
                  </amexio-row>
                </div>
              </amexio-tab>
            </amexio-tab-view>


        </amexio-body>
      </amexio-card>
    </div>

  </amexio-nav-item> -->
</amexio-nav>

<amexio-row>
  <amexio-column [size]="'2pt5'" style="padding-top: 68px;">
    <amexio-side-nav [http-url]="'assets/data/menus/sidebar.json'" [http-method]="'get'" [height]="'92%'" [data-reader]="'data'"
                     (nodeClick)="routeToLink($event)"></amexio-side-nav>
  </amexio-column>
  <amexio-column [size]="'9pt5'">
    <div class="route-container">
      <router-outlet></router-outlet>
    </div>

  </amexio-column>
</amexio-row>

<amexio-floating-button (onClick)="onFloatingClick($event)" [position-bottom]="'5%'" [position-right]="'10px'"
[icon]="'fa fa-ellipsis-v'" [type]="'danger'">
</amexio-floating-button>

<amexio-floating-panel [event]="event" [show]="showfloatplanel">

  <div class="floating-theme">
    
    <amexio-tab-view  [closable]="false">
      <amexio-tab title="Material" [active]="true">
        <div style="height: 350px;overflow-x: auto">
          <amexio-row *ngFor="let objArray of materialThemeArray" >
            <ng-container *ngFor="let obj of objArray">
              <amexio-column style="cursor: pointer" [size]="4"  (click)="themeChange(obj)">
                <amexio-image [path]="'assets/images/themematerialicons/'+ obj.link"></amexio-image><br><b>{{obj.themeName}}</b>
              </amexio-column>
            </ng-container>
          </amexio-row>
        </div>

      </amexio-tab>
      <amexio-tab title="Amexio">
        <div style="height: 350px;overflow-x: auto">
          <amexio-row *ngFor="let objArray of amexioThemeArray" >
            <ng-container *ngFor="let obj of objArray">
              <amexio-column style="cursor: pointer" [size]="4"  (click)="themeChange(obj)">
                <amexio-image [path]="'assets/images/themeamexioicon/'+ obj.link"></amexio-image><br><b>{{obj.themeName}}</b>
              </amexio-column>
            </ng-container>
          </amexio-row>
        </div>
      </amexio-tab>
    </amexio-tab-view>


  </div>


</amexio-floating-panel>