<amexio-nav [title]="'Amexio Demo App'" [logo]="'assets/images/logos/amexio-logo.png'">
  <amexio-nav-item position-right>
    <i class="fa fa-home fa-fw fa-lg"></i>
  </amexio-nav-item>
  <amexio-nav-item position-right>
    <i class="fa fa-bell fa-fw fa-lg"></i>
  </amexio-nav-item>
  <amexio-nav-item position-right>
    <span>John Doe</span>
  </amexio-nav-item>
  <amexio-nav-item position-right>
    <i class="fa fa-user-circle fa-fw fa-lg"></i>
  </amexio-nav-item>
</amexio-nav>

<div style="top: 64px; position: fixed">
  <amexio-side-nav [httpUrl]="'/assets/data/menus/sidebar.json'" [httpMethod]="'get'" [dataReader]="'data'" (nodeClick)="nodeClick($event)"></amexio-side-nav>
</div>

