<amexio-card [enableHeader]="true">
  <amexio-header>
    Sample Form
  </amexio-header>
  <amexio-body>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-text-input [fieldLabel]="'Name'" name="country"
                           [placeholder]="'Enter name'"
                           [enablePopOver]="true"
                           [iconFeedBack]="true"
                           [allowBlank]="false" [errorMsg]="'Please enter name'"
                           [minLength]="3" [maxLength]="15" [minErrorMsg]="'Name should be minimum 3 characters'"
                           [maxErrorMsg]="'Name should be less than 15 characters'"
        >
        </amexio-text-input>
      </amexio-column>
      <amexio-column [size]="6">
        <amexio-text-input [fieldLabel]="'Surname'" name="name"
                           [placeholder]="'Enter surname'"
                           [enablePopOver]="true"
                           [iconFeedBack]="true"
                           [allowBlank]="false" [errorMsg]="'Please enter Surname'"
                           [minLength]="3" [maxLength]="15" [minErrorMsg]="'Surname should be minimum 3 characters'"
                           [maxErrorMsg]="'Surname should be less than 15 characters'"
        >
        </amexio-text-input>
      </amexio-column>
    </amexio-row>


    <amexio-row>
      <amexio-column [size]="6">

<!--
        <amexio-textarea-input [fieldLabel]="'Address'" >
        </amexio-textarea-input>
-->

        <amexio-textarea-input [fieldLabel]="'Address'" name="Address"
                               [placeholder]="'Enter address'"
                               [errorMsg]="'Please enter address'"
                               [iconFeedBack]="true"
                               [noOfrows]="'2'" [noOfCols]="'2'"
                               [allowBlank]="false" [enablePopOver]="true"

        >
        </amexio-textarea-input>


      </amexio-column>
      <amexio-column [size]="6">
        <amexio-typeahead [dataReader]="'response.data'"
                          [httpUrl]="'assets/data/country.json'"
                          [httpMethod]="'get'"
                          [key]="'countryName'"
                          [fieldLabel]="'Nationality'" [valueField]="country" [displayField]="'countryName'" [placeholder]="'Search'">
        </amexio-typeahead>
      </amexio-column>
    </amexio-row>

    <amexio-row>
      <amexio-column [size]="6">
        DATE PICKER NOT WORKING
      </amexio-column>
      <amexio-column [size]="6">
        TIME PICKER NOT WORKING
      </amexio-column>
    </amexio-row>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-number-input [fieldLabel]="'Age'" name="age"
                             [enablePopOver]="false"
                             [allowBlank]="false"
                             [minValue]="18"
                             [errorMsg]="'Please enter your age'"
                             [placeholder]="'Enter age'">
        </amexio-number-input>

      </amexio-column>
      <amexio-column [size]="6">
        DROP DOWN NOT WORKING...
       <!-- <amexio-dropdown
          [(ngModel)]="country"
          [placeholder]="'Choose City'"
          name="country"
          [dataReader]="'response.data'"
          [fieldLabel]="'City'"
          [httpUrl]="'assets/data/cities.json'"
          [httpMethod]="'get'"
          [searchBox]="'true'"
          [displayField]="'cityName'"
          [valueField]="'cityName'"
          [width]="'100%'">
        </amexio-dropdown>-->
      </amexio-column>
    </amexio-row>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-email-input [fieldLabel]="'Email'" name="email"
                            [placeholder]="'Enter mail id'"
                            [enablePopOver]="true"
                            [iconFeedBack]="true"
                            [allowBlank]="false" [errorMsg]="'Please enter correct mail id'">
        </amexio-email-input>

      </amexio-column>
      <amexio-column [size]="6">
        <amexio-password-input [fieldLabel]="'Password'" name="password"
                               [placeholder]="'Enter Password'"
                               [allowBlank]="false"
                               [errorMsg]="'Please enter password'"
                               [minLength]="6"
                               [minErrorMsg]="'Minimum 6 char required'"
                               [maxLength]="32"
                               [maxErrorMsg]="'Maximum 32 char allowed'"
                               [enablePopOver]="true">
        </amexio-password-input>

      </amexio-column>
    </amexio-row>
    <amexio-row>
      <amexio-column [size]="6">
        <amexio-checkbox-group
          (selectedValue)="onClick($event)" [fieldLabel]="'Hobbies'" name="language"
          [horizontal]="true"
                         [dataReader]="'response.data'"
                         [displayField]="'language'"
                         [valueField]="'checked'"
                         [column]="4"
                         [data]="checkboxGroupdata">
        </amexio-checkbox-group>

      </amexio-column>
      <amexio-column [size]="6">
        <amexio-radio-group
          name="name" (selectedValue)="onClick($event)"
                                  [fieldLabel] = "'Gender'"
                            [horizontal]="true"
                            [dataReader]="'response.data'"
                            [displayField]="'gender'"
                            [valueField]="'genderId'"
                            [data]="radioGroupData"
                           >
        </amexio-radio-group>
      </amexio-column>
    </amexio-row>

    <amexio-row>
      <amexio-column [size]="6">
        <amexio-toggle [fieldLabel]="'On/Off'" (onChange)="onClick($event)"></amexio-toggle>
      </amexio-column>
      <amexio-column [size]="6">
        <amexio-checkbox  [fieldLabel]="'I Agree'" (selectedValue)="onClick($event)"></amexio-checkbox>
        <p>Selected Value : {{printvalue}}</p>
      </amexio-column>
    </amexio-row>
  </amexio-body>
</amexio-card>
