/* You can add global styles to this file, and also import other style files */

/*
@import "../node_modules/amexio-ng-extensions/themes/default/styles.scss";
*/


@import "../node_modules/amexio-ng-extensions/themes/default/styles.scss";


/* ----------------------------------- */
/*        DATAPOINTS COMPONENT         */
/* ----------------------------------- */

.flex-col-2pt5{
  max-width: 20.8333325%;
}

.flex-col-9pt5{
  max-width: 79.1666635%;
}

@media only screen and (max-width: 500px) {

  .flex-col-2pt5,.flex-col-9pt5{
    max-width: 100%;
  }
}

.input-control {
  border-radius: 0px;
  line-height: 2;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid $borderColor;
  background-color: #FFFFFF;
  color: $color;
}

.input-control-success {
  border-bottom-color:$success;
}

.input-control-error {
  border-bottom-color:$error;
}


.inputgroup label {
  margin-bottom: 0rem;
}

label {
  display: inline-block;
  margin-top: 5px;
  max-width: 100%;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;

}

button.app-button {
  border-radius: 8px;
}

.drodown-caret-down{
  top: 35px;
  color: $borderColor;
}

div.profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.btn-group button{
  border-right: 1px solid white;

}
