
<amexio-card [header]="true">
  <amexio-header>
    Datapoints
  </amexio-header>
  <amexio-body>
    <amexio-row>
<amexio-column [size]="4">
      <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true">
        <amexio-west [content-align]="'center'" [width]="'100px'">
          <i class="fa fa-line-chart fa-3x"></i>
        </amexio-west>
        <amexio-center [content-align]="'right'">
          <amexio-datapoints [north]="true" [center]="true" [south]="true">
            <amexio-north >
              <span>200 Million</span>
            </amexio-north>
            <amexio-center >
              <span>Sales Volume</span>
            </amexio-center>
          </amexio-datapoints>
        </amexio-center>
        <amexio-south [content-align]="'center'"  >10% More than last year</amexio-south>
      </amexio-datapoints>
    </amexio-column>
  <amexio-column [size]="4">
      <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" >
        <amexio-west [content-align]="'center'" [width]="'100px'" >
          <amexio-image [icon-class]="'fa fa-line-chart fa-3x'"></amexio-image>
        </amexio-west>
        <amexio-center [content-align]="'right'">
          <amexio-datapoints [north]="true" [center]="true" [south]="true">
            <amexio-north >
              <span>$10 Million</span>
            </amexio-north>
            <amexio-center>
              <span>Sales Revenue</span>
            </amexio-center>
          </amexio-datapoints>
        </amexio-center>
        <amexio-south [content-align]="'center'">5% more than last year</amexio-south>
      </amexio-datapoints>
    </amexio-column>
    <amexio-column [size]="4">
      <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true">
        <amexio-west [content-align]="'center'" [width]="'100px'" >
          <i class="fa fa-line-chart fa-3x"></i>
        </amexio-west>
        <amexio-center [content-align]="'right'" >
          <amexio-datapoints [north]="true" [center]="true" [south]="true">
            <amexio-north>
              <span>$2 Million</span>
            </amexio-north>
            <amexio-center>
              <span >Profit</span>
            </amexio-center>
          </amexio-datapoints>
        </amexio-center>
        <amexio-south [content-align]="'center'" >10% more than last year</amexio-south>
      </amexio-datapoints>
    </amexio-column>
  </amexio-row>
    </amexio-body>
    </amexio-card>

  <amexio-card [footer]="false" [header]="true">
    <!-- <amexio-row>
    <amexio-column [size]="6"> -->
    <amexio-header>Computational resources</amexio-header>
    <amexio-body>
      <amexio-dashboard-gauge [height]="'300px'" [width]="'100%'" [data]="gaugeData" [red-color-from]="90" [red-color-to]="100" [yellow-color-from]="75"
                          [yellow-color-to]="90" [scale-value]="5"></amexio-dashboard-gauge>
    </amexio-body>
  <!-- </amexio-column>
  </amexio-row> -->
  </amexio-card>
